@mixin transition($pr, $du: 250ms, $tf: cubic-bezier(0.4, 0, 0.2, 1)) {
    transition-property: $pr;
    transition-duration: $du;
    transition-timing-function: $tf;
}
// .socialItem{
//     background-color: black;
// }

.socialList {
    display: flex;
    margin: 0 auto;
}

.socialIcon {
    width: 35px;
    height: 35px;
    fill: #ffffff;
    @include transition(fill);

    .footerLink:hover &,
    .footerLink:focus & {
        fill: var(--primary-color);
    }

    .teamLink:hover &,
    .teamLink:focus & {
        fill: rgba(255, 255, 255, 0.8);
    }
}

.socialItem+.socialItem {
    margin-left: 25px;
}